<!--Navbar  -->
<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
  <a href="#">
      <img width="90" alt="Angular Logo"src="https://i.ibb.co/bHwvFP2/logo.png" />
  </a>
  <a class="navbar-brand" routerLink="/array">{{app_name}}</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mainNavbar" aria-controls="mainNavbar"
  aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="mainNavbar">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item ml-3">
        <a class="nav-link" routerLink="/array">
          <h5>Array-Page</h5>
        </a>
      </li>
      <li class="nav-item ml-3">
        <a class="nav-link" routerLink="/table">
          <h5>Tabla-Page</h5>
        </a>
        </li>
    </ul>
  </div>
</nav>
