<!-- Jumbotron for Array -->
<div class="jumbotron mt-5">
    <div class="container">
        <h3 class="display-3">Welcome!</h3>
        <p>This is a template to visualize the information obtained from the "array" delivered for the development of this test.</p>
        <p>
            <a class="btn btn-warning btn-lg"  role="button" (click)="getAll()">Result &raquo;</a>   
        </p>
    </div>
</div>
<!-- Table for Array Result -->
<div class="col-md-12">
    <div class="row">
        <table class="table table-sm table-hover table-warning">
            <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Numb</th>
                  <th scope="col">Quantity</th>
                  <th scope="col">First Position</th>
                  <th scope="col">Last Position</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let obj of defaultArray;let i=index"
                    [ngClass]="{ gray: obj['frec'] < 1, yellow: obj['frec'] == 1 , green: obj['frec'] >= 2 }" >
                    <th>{{i}}</th>
                    <td>{{obj['numb']}}</td>
                    <td>{{obj['frec']}}</td>
                    <td>{{obj['first_pos']}}</td>
                    <td>{{obj['last_pos']}}</td>
                </tr>
              </tbody>
        </table>    
    </div> 
</div>
<!--Texbox for Array Sort  -->
<div class="col-md-12 mt-5">
    <div class="col-md-12 mt-3">
        <div class="row">
            <div class="input">
                <span class="input-text ml-3">
                    <h6>Original Array</h6>
                </span>
            </div>
            <textarea class="text-control" aria-label="textarea">
                {{listArray}}
            </textarea>
        </div>
    </div>
    <div class="col-md-12 mt-3">
        <div class="row">
            <div class="input">
                <span class="input-text ml-3">
                    <h6>Sort Array</h6>
                </span>
            </div>
            <textarea class="text-control" aria-label="textarea">
                {{sortedArray}}
            </textarea>
        </div>
    </div>
</div>