/* Texbox for Array Sort  */
h6 {
    margin: 8px 0;
    color: #ffc107;
    font-weight: bold;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.input{
    width: 150px;
    text-align: left;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  
}
.text-control{
    width: 90%;
    border: 2px solid rgb(93, 91, 91);
    background: #e9ecef;
    color: rgb(10, 10, 10);
}
/* Colors for table */
.green{
    background-color:green;
}
.yellow{
    background-color: yellow;
}
.gray{
    background-color: gray;
}
.warning{
    background: #ffc107;
}