<section>
<!-- Jumbotron for Table -->
    <div class="jumbotron mt-5">
        <div class="container">
            <h3 class="display-3">Hola!</h3>
            <p>Esta es una plantilla para visualizar la información obtenida de la "tabla" entregado para el desarrollo de esta prueba.</p>
            <p>
                <a class="btn btn-success btn-lg"  role="button" (click)="getTable()">Result &raquo;</a>   
            </p>
        </div>
    </div>
    <!-- Table for Result -->
    <div class="col-md-12">
        <div class="row">
            <table class="table table-success">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">a</th>
                    <th scope="col">b</th>
                    <th scope="col">c</th>
                    <th scope="col">d</th>
                    <th scope="col">e</th>
                    <th scope="col">f</th>
                    <th scope="col">g</th>
                    <th scope="col">h</th>
                    <th scope="col">i</th>
                    <th scope="col">j</th>
                    <th scope="col">k</th>
                    <th scope="col">l</th>
                    <th scope="col">m</th>
                    <th scope="col">n</th>
                    <th scope="col">o</th>
                    <th scope="col">p</th>
                    <th scope="col">q</th>
                    <th scope="col">r</th>
                    <th scope="col">s</th>
                    <th scope="col">t</th>
                    <th scope="col">u</th>
                    <th scope="col">v</th>
                    <th scope="col">w</th>
                    <th scope="col">x</th>
                    <th scope="col">y</th>
                    <th scope="col">z</th>
                    <th scope="col">suma</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let item of paraTabla; let i = index">
                    <th >{{i}}</th>
                    <td>{{!!item['a'] ? item['a'] : 0}}</td>
                    <td>{{!!item['b'] ? item['b'] : 0}}</td>
                    <td>{{!!item['c'] ? item['c'] : 0}}</td>
                    <td>{{!!item['d'] ? item['d'] : 0}}</td>
                    <td>{{!!item['e'] ? item['e'] : 0}}</td>
                    <td>{{!!item['f'] ? item['f'] : 0}}</td>
                    <td>{{!!item['g'] ? item['g'] : 0}}</td>
                    <td>{{!!item['h'] ? item['h'] : 0}}</td>
                    <td>{{!!item['i'] ? item['i'] : 0}}</td>
                    <td>{{!!item['j'] ? item['j'] : 0}}</td>
                    <td>{{!!item['k'] ? item['k'] : 0}}</td>
                    <td>{{!!item['l'] ? item['l'] : 0}}</td>
                    <td>{{!!item['m'] ? item['m'] : 0}}</td>
                    <td>{{!!item['n'] ? item['n'] : 0}}</td>
                    <td>{{!!item['o'] ? item['o'] : 0}}</td>
                    <td>{{!!item['p'] ? item['p'] : 0}}</td>
                    <td>{{!!item['q'] ? item['q'] : 0}}</td>
                    <td>{{!!item['r'] ? item['r'] : 0}}</td>
                    <td>{{!!item['s'] ? item['s'] : 0}}</td>
                    <td>{{!!item['t'] ? item['t'] : 0}}</td>
                    <td>{{!!item['u'] ? item['u'] : 0}}</td>
                    <td>{{!!item['v'] ? item['v'] : 0}}</td>
                    <td>{{!!item['w'] ? item['w'] : 0}}</td>
                    <td>{{!!item['x'] ? item['x'] : 0}}</td>
                    <td>{{!!item['y'] ? item['y'] : 0}}</td>
                    <td>{{!!item['z'] ? item['z'] : 0}}</td>
                    <td>{{!!item['counter'] ? item['counter'] : 0}}</td>
                  </tr>  
                </tbody>
              </table>
        </div>
    </div>
</section>